<a href="https://colab.research.google.com/github/noureddine2020-ben/Besiness-Intelligence-Project/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#description: build a movie recommendation using python

In [3]:
#import the libraries
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
#load the data
from google.colab import files
uploaded = files.upload()

Saving ratings.csv to ratings.csv

In [7]:
#store the data
df = pd.read_csv('ratings.csv')
#show the first 15 rows of data
df.head(15)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908

In [8]:
#get a count of the number of rows
df.shape

(100836, 4)

In [9]:
#create a list of important columns for the recommandation engine
clomuns = ['movieId']

In [11]:
#show the date
df[clomuns]

        movieId
0             1
1             3
2             6
3            47
4            50
...         ...
100831   166534
100832   168248
100833   168250
100834   168252
100835   170875

[100836 rows x 1 columns]

In [13]:
#check for any missing value
df[clomuns].isnull().values.any()

False

In [14]:
#create function to combine the values of the important colomuns into a single string
def get_important_featues(data):
  important_features = []
  for i in range (0,data.shape[0]):
    important_features.append(data['movieId'][i])
  return important_features

In [15]:
#createa colomn to hold the combined strings
df['important_features']=get_important_featues(df)

In [16]:
#show the data
df.head(5)

   userId  movieId  rating  timestamp  important_features
0       1        1     4.0  964982703                   1
1       1        3     4.0  964981247                   3
2       1        6     4.0  964982224                   6
3       1       47     5.0  964983815                  47
4       1       50     5.0  964982931                  50

In [21]:
#convert the text to a matrix of token counts
cm = CountVectorizer().fit_transform(df['important_features'])

AttributeError: ignored